body {
  background: #333333;
  color: #ffffff;
  margin-top: 8rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #e0b4b4;
}

ul {
  margin: 0;
}

.container {
  max-width: 768px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.bg-steel {
  background-color: #da747c;
}

.site-header .navbar-nav .nav-link {
  color: #4e4e4e;
}

.site-header .navbar-nav .nav-link:hover {
  color: #0e0d0d;
  opacity: .5;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #4d4d4d;
  padding: .5rem 1rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
  border: 1px solid #dddddd;
  border-radius: 1px;
  margin-bottom: 20px;
}

.article-title {
  color: #ffffff;
}

a.article-title:hover {
  color: #da747c;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #333333
}

.article-metadata a:hover {
  color: #ffffff;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

