{% extends "blog/base.html" %} {% block content %}
<style>
    @import url("/static/blog/about.css");
</style>


<h1>About</h1>

<div class="content-section">
    <p>
        Beka Modebadze is a Software Engineer at Agilent Technologies, where he delivers software solutions to company-wide problems. As a Technology of choice he utilizes C# and .NET environment and occasionally Python. He's also a Master's candidate in Computer
        Science at the University of Pennsylvania: School of Engineering and Applied Science.
    </p>

    <p>
        Beka has contributed to open-source projects and maintains one - Linux terminal program <b><a href="https://github.com/bexxmodd/vizex">vizex</a></b>. The program visually displays disk usage and directory data within a terminal. It's like a combination
        of popular Linux commands du, df, ls but on steroids. Previously he worked as a Data Scientist.
    </p>

    <p>
        ...And me? I just love talking to computers. I think they are good listeners. They not always preferred respondents but they always have something interesting to say, even if it's a two-word sentence like <i>"segmentation fault"</i>. I love talking
        to them in various languages and using different mediums for communication.
    </p>

    <p>
        I know computers only understand binary, and I also understand binary but have you (if you are a human I assume) tried talking to SOMEONE in binary? That's why I prefer to use something that has more English words in it, like Rust, C++, C#, and Python.
        I also love talking with them about low-level stuff, asking how their systems are doing, and helping to hack something.
    </p>

    <p>
        Then I come to this blog and I write about various topics I discussed with computers. Sometimes I even get Philosophical and try to see computers from that perspective.
    </p>

    <p>
        I love everything Sci-fi and consider myself a Lego enthusiast. My interests and career goals are aligned with Software Engineering. I'm passionate about better understanding computers and using this knowledge to solve real-world problems.
    </p>
</div>
{% endblock content %}