{% extends "/home/bexx/Projects/bexxmodd.com/bexxmodd_dot_com/blog/templates/blog/base.html" %}
{% block content %}
<style>
    h1 {text-align: center;}
    p {text-align: left;}
    div {text-align: center;}
</style>
<h1>About</h1>
<p></p>
<p>
    <img src="https://i.imgur.com/X9p8C0O.jpg" ALIGN="left" HSPACE=50 alt="Profile Pic" width="300">
            I'm a Master's in Computer Science student at the University of Pennsylvania: School of Engineering and Applied Science. 
            My main experience is in working with data, building data pipelines and machine learning models.
            Currently I'm mastering Python and getting comfortable with Rust.
        </p>
{% endblock content %}