{% extends "blog/base.html" %} {% block content %}
<style>
    @import url("/static/blog/about.css");
</style>


<h1 class="page-title">About</h1>

<div class="content-section">
    <p>
        I'm a Software Engineer and a Master's candidate in Computer Science at the University of Pennsylvania: School of Engineering and Applied Science. I solve business and production problems using C#, C++, and Python. The majority of my deliveries involve Machine Learning/Deep learning solutions.
    </p>

    <p>
       Currently, I'm working on a Computer Vision project for automating manufacturing item inspection. The project is built using C++ OpenCV API and Machine Learning modeling. I'm also taking an AI course this semester and learning Functional Programming with Scala in my free time.
    </p>

    <p>
        I'm a huge OSS proponent and a have contributed to several projects. I also own and maintain two projects: Linux terminal program <a class="link" href="https://github.com/bexxmodd/vizex">vizex</a> and a <a class="link" href="https://github.com/bexxmodd/cr4sh_">crash_</a> (UNIX shell for learning implemented using Rust). And I love Rust!
    </p>

    <p>
        The <code>vizex</code> visually displays disk usage, directory data, directory tree within a terminal. It's like a combination of popular Linux commands du, df, ls but on steroids.
    </p>

    <p>
        This is my personal logger where I write about topics I learned and problems I solved. Sometimes I even get Philosophical and try to see computers from metaphysical perspective.
    </p>

    <p>
        I love everything Sci-fi and consider myself a Lego enthusiast. My interests and career goals are aligned with Software Engineering. I'm passionate about better understanding computers and using this knowledge to solve real-world problems.
    </p>
</div>
{% endblock content %}
