{% extends "blog/base.html" %} {% block content %}

<style>
    @import url("/static/blog/archive.css");
</style>

<title>Beka Modebadze | Logger</title>

{% if user.is_authenticated %}
<a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a> {% endif %}

<div class="page-title">
    <h1>Archive</h1>
</div>

<div class="content-section">
    {% for post in posts %}
    <ul class="list-view">
        <li><a class="post-date">{{ post.date_posted|date:"M d, Y" }}</a>
            <a class="article-title" href="{% url 'post-detail' post.slug post.id %}">
                {{ post.title }}
            </a>            
        </li>
    </ul>
    {% endfor %}
</div>

<div class ="tag-slug">
    <h3>Filter Logs Based on a Tag</h3>
        <a href="{% url 'posts-by-tag' 'rust' %}" class="tag-style">#Rust</a>
        <a href="{% url 'posts-by-tag' 'linux' %}" class="tag-style">#Linux</a>
        <a href="{% url 'posts-by-tag' 'softwareengineering' %}" class="tag-style">#SoftwareEngineering</a>
        <a href="{% url 'posts-by-tag' 'systems' %}" class="tag-style">#Systems</a>
</div>
{% endblock content %}