{% extends "blog/base.html" %}


{% load crispy_forms_tags %}
{% block content %}
<style>
    @import url("/static/blog/comment.css");
</style>

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend class="add-comment">Add Comment</legend>
                {{ form|crispy }}
            </fieldset>
            <div>
                <button class="post-button" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}
