{% extends "blog/base.html" %} {% block content %}
<style>
    @import url("/static/blog/oss.css");
</style>

<div class="page-title">
    <h1>Open-Source Software</h1>
</div>

<div class="content-section">
    <ul class="list-view">

        <li>
            <div>
                <a href="https://github.com/bexxmodd/vizex" target="_blank">
                    <h3>vizex</h3>
                </a>
                <img src="/static/img/github-star.png" alt="">
                <a class="github-stats">
                    Star
                    {% load custom_tags %}
                </a>
                <a class="counter">
                    185
                </a>
                <img src="/static/img/fork.png" alt="">
                <a class="github-stats">
                    Fork
                </a>
                <a class="counter">
                   4 
                </a>
            </div>
            </p>
            vizex is the terminal program written in Python for the UNIX/Linux systems which helps the user to visualize the disk space usage for every partition and media on the user's machine. vizex is highly customizable and can fit any user's taste and preferences.
            </p>
        </li>

        <li>
            <div>
                <a href="https://github.com/bexxmodd/paleatra" target="_blank">
                    <h3>Paleatra</h3>
                </a>
                <img src="/static/img/github-star.png" alt="">
                <a class="github-stats">
                    Star
                    {% load custom_tags %}
                </a>
                <a class="counter">
                   20 
                </a>
                <img src="/static/img/fork.png" alt="">
                <a class="github-stats">
                    Fork
                </a>
                <a class="counter">
                    2 
                </a>
            </div>
            <p>
                A program that produces the copy of the image supplied with a thin frame and a palette made of the 10 most frequent colors. Program is written in Rust 2018.
            </p>
        </li>

        <li>
            <div>
                <a href="https://github.com/bexxmodd/cr4sh_" target="_blank">
                    <h3>cr4sh_</h3>
                </a>
                <img src="/static/img/github-star.png" alt="">
                <a class="github-stats">
                    Star
                    {% load custom_tags %}
                </a>
                <a class="counter">
                  19 
                </a>
                <img src="/static/img/fork.png" alt="">
                <a class="github-stats">
                    Fork
                </a>
                <a class="counter">
                    1 
                </a>
            </div>
            <p>
                cr4sh_ is a UNIX mini-shell implemented with Rust. This shell can be great for educational purposes. You can learn about Linux system, processes, stdio, signals and much more.
            </p>
        </li>
    </ul>
</div>

{% endblock content %}


<a href='https://www.linkedin.com/in/bmodebadze/' target="_blank">
    <img src="/static/img/linkedin-red.png" alt=""></a>