{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<article class="media content-section">
    <div class="media-body">
      <h2>{{ object.title }}</h2>
      
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.author.get_full_name }}</a>
        <small class="text-muted">{{ object.date_posted|date:"N d, Y" }}</small>
        {% if object.author == user %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
        {% endif %}
      </div>
      <br>
      <p class="article-content">{{ object.content|safe }}</p>
    </div>
  </article>

  <br>

<!-- comments -->
<h3>{{ comments.count }} comments</h3>

{% for comment in comments %}
<div class="comments" style="padding: 10px;">
  <p class="font-weight-bold">
    {{ comment.name }}
    <span class=" text-muted font-weight-normal">
      {{ comment.created_on }}
    </span>
  </p>
  {{ comment.body | linebreaks }}
</div>
{% endfor %}
</div>
</div>
<div class="card-body">
{% if new_comment %}
<div class="alert alert-success" role="alert">
  Your comment is awaiting moderation
</div>
{% else %}
<textarea id="w3review" name="w3review" rows="4" cols="55" placeholder="Comments section is not working yet..">
    
</textarea>
<form method="post" style="margin-top: 1.3em;">
  {{ comment_form.as_p }}
  {% csrf_token %}
</form>
<form method="post" style="margin-top: 1.3em;">
    {{ comment_form | crispy }}
    {% csrf_token %}
    <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
</form>
{% endif %}
</div>
</div>
</div>

{% endblock content %}