{% extends "blog/base.html" %} {% load crispy_forms_tags %} {% load hitcount_tags %} {% block content %}

<style>
    @import url("/static/blog/details.css");
</style>


<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <div class="post-date">{{ object.date_posted|date:"M d, Y" }}</div>
            <div class="title">{{ object.title }}</div>

            {% for tag in post.tags.all %}
                <a href="{% url 'posts-by-tag' tag.slug %}" class="tag-style">#{{ tag }}</a>
            {% endfor %} 
            
            {% if object.author == user %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.slug object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.slug object.id %}">Delete</a> {% endif %}
        </div>
        <p class="article-content">{{ object.content|safe }}</p>
    </div>
</article>

<!-- Applaud button -->
<section id="clapper">
    <div class="final-words">
        <h2>Enjoy the article?</h2>
        <p>Give me a clap and post a comment</p>

<center>
        <applause-button color="#00ffdd" url="{{ request.build_absolute_uri }}" multiclap="true" />
</center>
    </div>
</section>


<!-- Read comments -->
<a class="add-comment" href="{% url 'comment-create' post.slug post.id %}">Add Comment</a>
{% for comment in post.comments.all %}
    <div class="comments">
        <a class="comment-author">
            {{ comment.name }} 
        </a>
        <a class="post-date">
            {{ comment.created_on | date:"M d, Y h:i"}}
        </a>
        <a class="comment-content">
            {{ comment.body }}
        </a>
    </div>
{% endfor %}
</div>
</div>


<br><br><br> 
{% endblock content %}