{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<article class="media content-section">
    <div class="media-body">
      <h2>{{ object.title }}</h2>
      
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.author.get_full_name }}</a>
        <small class="text-muted">{{ object.date_posted|date:"N d, Y" }}</small>
        {% if object.author == user %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
        {% endif %}
        <small style="text-align:right">
          {% for tag in post.tags.all %}
          <a href="{% url 'posts-by-tag' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
          {% endfor %}
        </small>
      </div>
      <br>
      <p class="article-content">{{ object.content|safe }}</p>
    </div>
  </article>

<br/>

<!-- Applaud button -->
<center>
  <section id="clapper">
    <article>
        <h2>Enjoy the article?</h2>
        <p>Give me a clap and post a comment</p>
    </article>
    <br/>
    <applause-button style="width: 60px; height: 60px" color="#f0cc2f"/>
</section>
</center>

<br/>

<!-- Read comments -->
<h3>{{ post.comments.count }} comments</h3>
<a href="{% url 'comment-create' post.slug %}" style="font-weight:bold">Add Comment</a>
{% for comment in post.comments.all %}
<div class="comments" style="padding: 10px;">
  <p class="font-weight-bold;" style="color:#dd3590; font-weight: bold">
    {{ comment.name }}
    <span class=" text-muted font-weight-normal">
      {{ comment.created_on }}
    </span>
  </p>
  {{ comment.body | linebreaks }}
</div>
{% endfor %}
</div>
</div>


<br><br><br>

{% endblock content %}