{% extends "blog/base.html" %}

{% block content %}
<style>
    h1 {text-align: center;}
    div {text-align: center;}

    .rightCol1{

        float:center;
        margin-top:10px;
    }

    .theBox3{
        width: 340px;
        height: 450;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        margin: 10px 10px 40px 15px;
        display:inline-block;
        border: 0.5px solid #f0cc2f;
        border-radius: 35px 15px 35px
    }

    .txtBox3{
        position: bottom;
        height: 200px;
        width: 100%;
        background: #111a27;
        bottom: 0;
        top: 0;
    }

    .txtBox3:hover{
        color: #111a27;
        background-color: #f0cc2f;
        opacity: .8;
    }

    h4{ 
        padding:0;
        margin:0;
        font-weight:bold;
    }

    h6{ 
        padding:0;
        margin:10px 10px 10px 10px;
        font-weight:400;
        color:#faf9d4;
    }

    img {
        object-fit: cover;
        max-height: 250px;
        max-width: auto;
        display: block; /* remove extra space below image */
    }

</style>
<div>
    <h1>Projects</h1>
</div>

<div class="rightCol1">

    <div class="theBox3"><a href="https://github.com/bexxmodd/vizex" target="_blank">
        <img src="/static/img/vizex2.png">
        <div class="txtBox3"><h4>vizex</h4><h6>vizex is the terminal program written in Python for the UNIX/Linux systems which helps the user to visualize the disk space usage for every partition and media on the user's machine. vizex is highly customizable and can fit any user's taste and preferences.</h6>
        </div> </a>
    </div> 

    <div class="theBox3"><a href="https://github.com/bexxmodd/paleatra" target="_blank">
        <img src="/static/img/rickmorty_cpy.jpg">
         <div class="txtBox3"><h4>Paleatra</h4><h6>A program that produces the copy of the image supplied with a thin frame and a palette made of the 10 most frequent colors. Program is written in Rust 2018</h6>
         </div> </a>
    </div>

    <div class="theBox3"><a href="https://github.com/bexxmodd/cr4sh_" target="_blank">
        <img src="/static/img/crash.png">
         <div class="txtBox3"><h4>cr4sh_</h4><h6><b>cr4sh_</b> is a UNIX mini-shell implemented with Rust. This shell can be great for educational purposes. You can learn about Linux system, processes, stdio, signals and much more.</h6>
         </div> </a>
    </div>

    <div class="theBox3"><a href="https://github.com/bexxmodd/MacrosCalculator" target="_blank">
        <img src="/static/img/macros.png">
         <div class="txtBox3"><h4>Macros Calculator</h4><h6>If you are into fitness/Bodybuilding probably you are familiar with what Macros are. If no, it's three main components that make your diet: Proteins, Carbs, Fats. This program calculates needed macros for you fitness goal and is built with Python and Qt.</h6>
         </div> </a>
    </div>

    <div class="theBox3"><a href="https://github.com/bexxmodd/ITSL-with-python" target="_blank">
        <img src="/static/img/itsl.jpg">
         <div class="txtBox3"><h4>ITSL with Python</h4><h6>The Lab Exercises For the Introduction To Statistical Learning done in Python.
            This is a great introductory book for people who are interested in machine learning. This book explores the most commonly used supervised and unsupervised machine learning principles.</h6>
         </div> </a>
    </div>

    <div class="theBox3"><a href="https://github.com/bexxmodd/DataStructuresC" target="_blank">
        <img src="/static/img/cthebest.jpg">
         <div class="txtBox3"><h4>Data Structures in C</h4><h6>Personal implementation of Abstract Data Structures (ArrayList, LinkedList, HashSet) in C programming language.</h6>
         </div> </a>
    </div>

    <div class="theBox3"><a href="https://github.com/bexxmodd/TwitterBots" target="_blank">
        <img src="/static/img/bot1.png">
         <div class="txtBox3"><h4>Twitter Bots</h4><h6>Four Twitter bots that post statuses based on suggested topic, retweet and like post, and message new followers. This script helped me to gain ~9,000 new followers in 1 year.</h6>
         </div> </a>
    </div>

{% endblock content %}