{% extends "blog/base.html" %}

{% block content %}
<style>
    @import url("/static/blog/resume.css");
</style>
<center><h1>Resumé</h1></center>
<!-- <p>
    <a href="/static/docu/Beka_Modebadze_SWE_resume.pdf" download="Beka_Modebadze_Resume">Download PDF Version</a>
</p> -->
    <br>
    <div class="content-section" >
    <h2>Work History</h2>
    <p style="text-align:left;">
        <h5>Software Engineer</h5>
        <span style="float:right;">
            <i>Aug 2021 - Current</i>
        </span>
    </p>
    <p style="text-align:left;">
        <b>N/A</b> - City, ST 
    </p>
    <br>
    <p style="text-align:left;">
        <h5>Data Scientist</h5>
        <span style="float:right;">
            <i>May 2020 - Current</i>
        </span>
    </p>
    <p style="text-align:left;">
        <b>Qlarant</b> - Easton, MD
    </p>
    <br>
    <p style="text-align:left;">
        <h5>Teaching Assistant</h5>
        <span style="float:right;">
            <i>Aug 2019 - Dec 2020</i>
        </span>
    </p>
    <p style="text-align:left;">
        <b>University of Maryland</b> - College Park, MD
    </p>
    <br>
    <p style="text-align:left;">
        <b>Various International Working Experience</b>
        <span style="float:right;">
            <i>Jan 2014 - Dec 2016</i>
        </span>
    </p>
<br>
</div>
    <div class="content-section" >
    <h2>Education</h2>
    
    <p style="text-align:left;">
        <h5>Master's in Computer Science (MCIT)</h5>
        <span style="float:right;">
            <i>Expected August 2022</i>
        </span>
    </p>
    
    <p style="text-align:left;">
        <b>University of Pennsylvania: SEAS</b> - Philadelphia, PA
    </p>

    <p><b>Current GPA: 4.0/4.0</b></p>
    <br>
    <p style="text-align:left;">
        <b>Courses: </b> 
        <li class="tab">Software Development with Python & Java</li>
        <li class="tab">Data Structures, Algorithms & Software Design</li>
        <li class="tab">Computer Systems Programming</li>
        <li class="tab">Software Analysis</li>
        <li class="tab">Discrete math, Graph Theory, & Probability</li>
    </p>
    
    <br>

    <p style="text-align:left;">
        <h5>Bachelor's in Economics</h5>
        <span style="float:right;">
            <i>May 2020</i>
        </span>
    </p>
    
    <p style="text-align:left;">
        <b>University of Maryland</b> - College Park, MD
    </p>
    <p><b>GPA: 3.9/4.0</b></p>
</div>
<br>

<br>
<div class="content-section" >
    <h2>Tech Skills</h2>
    <p><i>Languages:</i><b> Python, Rust, C, C#, C++, Java</b></p>
    <p><i>Frameworks:</i><b> Flask, Django, .NET, Rocket.rs, PyQt</b></p>
    <p><i>Databases:</i><b> MySQL, PostgreSQL, SQLite, MSSQL, MongoDB</b></p>
    <p><i>OS:</i> <b>Linux, Windows</b></p>
    <p><i>Misc:</i> <b>Git, Docker</b></p>
    <p><i>Web (basics):</i><b> XAML, HTML, CSS</b></p>
</div>

<br>
<br>
<br>
<br>
{% endblock content %}