{% extends "blog/base.html" %}

{% block content %}
<style>
    h1 {text-align: center;}
    h2 {text-align: left;}
    p {text-align: left;}
    div {text-align: center;}
    br {
        display: block;
        margin: 10px 0;
     }
</style>
<h1>Resume</h1>
    <br>
    <div class="content-section" >
    <h2>Educaiton</h2>
    
    <p style="text-align:left;">
        <b>Master's</b> in Computer Science (MCIT)
        <span style="float:right;">
            <i>Expected August 2022</i>
        </span>
    </p>
    
    <p style="text-align:left;">
        <b>University of Pennsylvania: SEAS</b> - Philadelphia, PA
    </p>

    <br>
    <p><b>Current GPA: 4.0/4.0</b></p>
    <p style="text-align:left;">
        <b>Courses: </b> - Software Development with Python & Java; Data Structures, Algorithms & Software Design; Intro
        to Computer Systems; Computer Systems Programming; Software Analysis; Discrete math, Graph Theory, & Probability.
    </p>
    
    <br>
    <br>
    <br>

    <p style="text-align:left;">
        <b>Bachelor's</b> in Economics (Business Minor)
        <span style="float:right;">
            <i>May 2020</i>
        </span>
    </p>
    
    <p style="text-align:left;">
        <b>University of Maryland</b> - College Park, MD
    </p>
 
    <br>
    <p><b>GPA: 3.9/4.0</b></p>
</div>

<div class="content-section" >
    <h2>Work History</h2>
    <p style="text-align:left;">
        <b>Data Analyst II</b>
        <span style="float:right;">
            <i>May 2020 - Current</i>
        </span>
    </p>

    <p style="text-align:left;">
        <b>Qlarant</b> - Easton, MD
    </p>

    <br>
    <p style="text-align:left;">
        <p>- Created a Python program to automate the calculation of over-payments which saves weekly six
        hours of manual labor.</p>
        <p>- Used Benford’s Law, implemented via Python & SQL, to single out anomalous billing patterns by
        ambulance service providers.</p>
        <p>- Designed a proactive data analysis project to catch potential fraudulent medical professionals in the
        state of Louisiana. Identified over $1m in suspicious charges.</p>
        <p>- Engineered data pipeline for inpatient medicaid data, using SQL Teradata, SAS EG, and Python.</p>
    </p>

    <br>
    <br>

    <p style="text-align:left;">
        <b>Teaching Assistant</b>
        <span style="float:right;">
            <i>Aug 2019 - Dec 2020</i>
        </span>
    </p>
    <p style="text-align:left;">
        <b>University of Maryland</b> - College Park, MD
    </p>

    <br>
    <p style="text-align:left;">
        <p>- Performed academic tutoring in Global Economic Policies for 120 students.</p>
        <p>- Conducted in-class exam reviews, which yielded one of the highest average scores in the class.</p>
    </p>

    <br>

    <p style="text-align:left;">
        <b>Various International Working Experience</b>
        <span style="float:right;">
            <i>Jan 2014 - Dec 2016</i>
        </span>
    </p>

</div>
<div class="content-section" >
    <h2>Tech Skills</h2>
    <p><i>Languages:</i> Python, Java, Rust, C, C++</p>
    <p><i>Databases:</i> MySQL, PostgreSQL, SQLite, MSSQL</p>
    <p><i>OS:</i> Linux, Windows</p>
    <p><i>Misc:</i> Git, Docker</p>
    <p><i>Web (basics):</i> HTML, CSS</p>
</div>

<br>
<br>
<br>
<br>
{% endblock content %}