{% extends "blog/base.html" %}

{% block content %}
<style>
    h1 {text-align: center;}
    h2 {text-align: left;}
    h5 {text-align: left;}
    p {text-align: left;}
    div {text-align: center;}
    br {
        display: block;
        margin: 10px 0;
     }
</style>
<h1>Resumé</h1>
<!-- <p>
    <a href="/static/docu/Beka_Modebadze_SWE_resume.pdf" download="Beka_Modebadze_Resume">Download PDF Version</a>
</p> -->
    <br>
    <div class="content-section" >
    <h2>Work History</h2>
    <p style="text-align:left;">
        <h5>Software Engineer Intern</h5>
        <span style="float:right;">
            <i>Jun 2021 - Current</i>
        </span>
    </p>
    <p style="text-align:left;">
        <b>Maestro Technologies</b> - Trenton, NJ
    </p>
    <br>
    <p style="text-align:left;">
        <h5>Data Analyst</h5>
        <span style="float:right;">
            <i>May 2020 - Current</i>
        </span>
    </p>
    <p style="text-align:left;">
        <b>Qlarant</b> - Easton, MD
    </p>
    <br>
    <p style="text-align:left;">
        <h5>Teaching Assistant</h5>
        <span style="float:right;">
            <i>Aug 2019 - Dec 2020</i>
        </span>
    </p>
    <p style="text-align:left;">
        <b>University of Maryland</b> - College Park, MD
    </p>
    <br>
    <p style="text-align:left;">
        <b>Various International Working Experience</b>
        <span style="float:right;">
            <i>Jan 2014 - Dec 2016</i>
        </span>
    </p>
<br>
</div>
    <div class="content-section" >
    <h2>Education</h2>
    
    <p style="text-align:left;">
        <h5>Master's in Computer Science (MCIT)</h5>
        <span style="float:right;">
            <i>Expected August 2022</i>
        </span>
    </p>
    
    <p style="text-align:left;">
        <b>University of Pennsylvania: SEAS</b> - Philadelphia, PA
    </p>

    <p><b>Current GPA: 4.0/4.0</b></p>
    <br>
    <p style="text-align:left;">
        <b>Courses: </b> - Software Development with Python & Java; Data Structures, Algorithms & Software Design; Intro
        to Computer Systems; Computer Systems Programming; Software Analysis; Discrete math, Graph Theory, & Probability.
    </p>
    
    <br>

    <p style="text-align:left;">
        <h5>Bachelor's in Economics</h5>
        <span style="float:right;">
            <i>May 2020</i>
        </span>
    </p>
    
    <p style="text-align:left;">
        <b>University of Maryland</b> - College Park, MD
    </p>
    <p><b>GPA: 3.9/4.0</b></p>
</div>
<br>

<br>
<div class="content-section" >
    <h2>Tech Skills</h2>
    <p><i>Languages:</i><b> Python, Java, Rust, C, C#, C++</b></p>
    <p><i>Frameworks:</i><b> Flask, Django, .NET, Rocket.rs, PyQt</b></p>
    <p><i>Databases:</i><b> MySQL, PostgreSQL, SQLite, MSSQL, MongoDB</b></p>
    <p><i>OS:</i> <b>Linux, Windows</b></p>
    <p><i>Misc:</i> <b>Git, Docker</b></p>
    <p><i>Web (basics):</i><b> XAML, HTML, CSS</b></p>
</div>

<br>
<br>
<br>
<br>
{% endblock content %}