.title {
    font-size: 2rem;
    color: #dddddd;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.post-date {
    font-family: 'VT323', monospace;
    color: #30475E;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.post-stats {
    display: block;
    font-family: 'VT323', monospace;
    color: #30475E;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: .5rem;
}

.tag-style {
    display: inline-block;
    padding: .25em .4em;
    font-size: 80%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #30475E;
    background-color: #00ffdd;
    text-decoration: none;
}

.tag-style:hover {
    opacity: .5;
    cursor: pointer;
}

.final-words {
    text-align: center;
}

applause-button {
    width: 50px;
    height: 50px;
}

.final-words h2 {
    font-family: 'VT323', monospace;
    color: #dddddd;
}

.published {
    font-size: 1rem;
}

.add-comment {
    font-family: 'VT323', monospace;
    background-color: #00ffdd;
    cursor: pointer;
    padding: .5rem 1rem .5rem 1rem;
    display: inline-block;
    text-transform: uppercase;
    margin-left: 2rem;
    letter-spacing: .1rem;
    font-weight: 700;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #30475E;
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
    text-decoration: none;
}

.add-comment:hover {
    opacity: .5;
}

.comments {
    padding-left: 2rem;
    padding-bottom: 1rem;;
    font-size: 1.3rem;
}

.comment-content {
    display: block;
    /* margin: -1rem; */
}

.reactions {
    height: 2rem;
    color: #FFD369;
}

.comment-author {
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: .1rem;
    color: #dddddd;
}