.title {
    font-size: 2rem;
    color: #dddddd;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.text-muted {
    font-family: 'VT323', monospace;
    text-align: left;
    color: #30475E;
    font-size: 1.3rem;
}

.post-tags {
    display: block;
    font-size: 1.3rem;
    text-align: left;
}

.tag-style {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    /* background-color: #17a2b8; */
    background-color: #F05454;
}

.published {
    font-size: 1rem;
}

.add-comment {
    font-size: 1.5em;
    font-weight: bold;
}

.comments {
    padding: .5em;
}

.reactions {
    height: 2em;
    color: #f0cc2f;
}

.comment-author {
    font-size: 1.3em;
    font-weight: bold;
    color: #0fd;
}