h1 {
  color: #faf9d4;
  display: inline-flex;
  font-family: 'Share Tech Mono', monospace;
  font-weight: bold;
  font-style: italic;
  margin: 0 auto;
}

h2, h3, h4, h5, h6 {
    color: #00ffdd;
    font-weight: bold;
    font-family: 'Share Tech Mono', monospace;
}

.name {
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    color:#00ffdd
}

body {
    font-family: 'Fira Mono', monospace;
  font-size: 100%;
  background: #0f1824;
  color: #faf9d4;
  margin-top: 8rem;
}

ul {
  margin: 0;
}

.container {
  max-width: 768px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.bg-steel {
  background-color: #0f1824;
}

.site-header .navbar-nav .nav-link {
  color: #f0cc2f;
  font-size: medium;
}

.site-header .navbar-nav .nav-link:hover {
  color: #490c41;
  background-color: #00ffdd;
  opacity: .5;
  border-radius: 15px 5px 20px;
}


.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #0f1824;
  padding: 0 2rem 1rem 2rem; 
  border: 0.25px solid #f0cc2f;
  border-top: none !important;
  border-bottom: none !important;
  margin-bottom: 20px;
}

.article-title {
  color: #00ffdd;
  font-weight: bold;
}

a.article-title:hover {
    display: inline-flex;
    color: #490c41;
    background-color: #f0cc2f;
    border-radius: 5px 25px 25px;
    opacity: .5;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
}

.article-metadata a:hover {
  color: #ffffff;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
